<div id="singup">
  <div id="signup" class="int">

<h1>Formulario de registro</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmar password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :color, "Color del perfil personalizado" %><br />
    <br><input id="user_color" name="user[color]" type="radio" value="red"/>
    <%= f.label :color, "Rojo" %><br />
    <br><input id="user_color" name="user[color]" type="radio" value="blue" checked="true" />
    <%= f.label :color, "Azul" %><br />
    <br><input id="user_color" name="user[color]" type="radio" value="green"/>
    <%= f.label :color, "Verde" %><br />
    <br><input id="user_color" name="user[color]" type="radio" value="yellow"/>
    <%= f.label :color, "Amarillo" %><br />
    <br><input id="user_notification" name="user[notification]" type="checkbox" value="0" checked="checked" />
    <%= f.label :notification, "No recibir notificaciones en mi correo" %><br />
  </div>
  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

  </div>
</div>
