<div id="follow">
  <div id="follow" class="int">
    <div class="main">
      <h1><%= @title %></h1>

      <% unless @users.empty? %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
      <% end %>
     </div>
   </div>
</div>

<div id="side">
<div id="sidebar">
  <div id="sidebar" class="int">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
      <% unless @users.empty? %>
        <div>
        <% @users.each do |user| %>
          <%= link_to gravatar_for(user, :size => 30), user %>
        <% end %>
        </div>
      <% end %>
  </div>
</div>
<div id="sidebar">
  <div id="sidebar" class="int">
    <%= render 'shared/search' %>
  </div>
</div>
</div>