<header>
  <% logo = image_tag("pajarito.png", :alt => "Micropost app", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Inicio", root_path %></li>
     <% if signed_in? %>
      <li><%= link_to "Perfil", current_user %></li>
      <% end %>
      <li><%= link_to "Ayuda", help_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Salir", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Entrar", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
